{% extends 'base.html.twig' %}

{% block title %}Pizza Contact{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <article class="col-sm-4">
                <br>
                <h2>Dit is onze contact pagina</h2>
                <br>
                <ul>
                    <li style="font-size: 26px"> Linkedin </li>
                    <li style="font-size: 26px"> Twitter </li>
                    <li style="font-size: 26px"> Instagram </li>
                </ul>
            </article>
        </section>
    </main>

{% endblock %}