{% extends 'base.html.twig' %}

{% block title %}Pizza Contact{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <article class="col-sm-4">
                <h2>Dit is onze contact pagina</h2>

                <ul>
                    <li>LinkIn</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </article>
        </section>
    </main>

{% endblock %}